/* Colors */

:root {
  --header-color: #9de2ff3a;
  --form-color: #9de2ff3a;
  --price: #ff6384;
}

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Elements */
html {
  font-size: 62.5%; /* font-size 1em = 10px on default browser settings */
}
